body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #333;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
body::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
body::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
